<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52830187312-d5dv6m8q2vlga2mn6emrikg22ben0qr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52830187312-d5dv6m8q2vlga2mn6emrikg22ben0qr9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52830187312-86gk583dte3imlbt0ri0vinptl86m5k9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB87Fj8y2aqF6l8CU51gcce6-K4fJ19qCA</string>
	<key>GCM_SENDER_ID</key>
	<string>52830187312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petterav1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pettera-130c0</string>
	<key>STORAGE_BUCKET</key>
	<string>pettera-130c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52830187312:ios:465225d961a029a8a222f5</string>
</dict>
</plist>